
@font-face {
    font-family: 'WT Gothic';
    src: url('fonts/WTGothic-Medium.woff2') format('woff2'),
        url('fonts/WTGothic-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'WT Gothic Semi';
    src: url('fonts/WTGothic-Semi-Bold.woff2') format('woff2'),
        url('fonts/WTGothic-Semi-Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'WT Gothic italic';
    src: url('fonts/WTGothic-BoldItalic.woff2') format('woff2'),
        url('fonts/WTGothic-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'WT Gothic Light';
    src: url('fonts/WTGothic-Light.woff2') format('woff2'),
        url('fonts/WTGothic-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

a {
    -moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    color: #e0555a;
    text-decoration: none;
    border-bottom: dotted 1px;
}

    a:hover {
        text-decoration: none;
        color: #da0000 !important;
        border-bottom-color: transparent;
    }

    body {
		font-family: 'WT Gothic';
	}
/* List */

ol {
    list-style: decimal;
    margin: 0 0 2em 0;
    padding-left: 1.25em;
}

    ol li {
        padding-left: 0.25em;
    }

ul {
    list-style: disc;
    margin: 0 0 2em 0;
    padding-left: 1em;
}

    ul li {
        padding-left: 0.5em;
    }

    ul.alt {
        list-style: none;
        padding-left: 0;
    }

        ul.alt li {
            border-top: solid 1px rgba(144, 144, 144, 0.25);
            padding: 0.5em 0;
        }

            ul.alt li:first-child {
                border-top: 0;
                padding-top: 0;
            }

    ul.icons {
        cursor: default;
        list-style: none;
        padding-left: 0;
    }

        ul.icons li {
            display: inline-block;
            padding: 0 1.25em 0 0;
        }

            ul.icons li:last-child {
                padding-right: 0 !important;
            }

            ul.icons li .icon {
                border-radius: 0.5em;
                border: solid 1px rgba(144, 144, 144, 0.25);
                color: #949494 !important;
                display: inline-block;
                font-size: 1.25em;
                height: 2.75em;
                line-height: 2.75em;
                text-align: center;
                width: 2.75em;
            }

            ul.icons li a.icon {
                -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
                -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
                -o-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
                -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
                transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
            }

                ul.icons li a.icon:hover {
                    background-color: rgba(144, 144, 144, 0.075);
                }

                ul.icons li a.icon:active {
                    background-color: rgba(144, 144, 144, 0.2);
                }

    ul.actions {
        cursor: default;
        list-style: none;
        padding-left: 0;
    }

        ul.actions li {
            display: inline-block;
            padding: 0 1em 0 0;
            vertical-align: middle;
        }

            ul.actions li:last-child {
                padding-right: 0;
            }

        ul.actions.small li {
            padding: 0 0.5em 0 0;
        }

        ul.actions.vertical li {
            display: block;
            padding: 1em 0 0 0;
        }

            ul.actions.vertical li:first-child {
                padding-top: 0;
            }

            ul.actions.vertical li > * {
                margin-bottom: 0;
            }

        ul.actions.vertical.small li {
            padding: 0.5em 0 0 0;
        }

            ul.actions.vertical.small li:first-child {
                padding-top: 0;
            }

        ul.actions.fit {
            display: table;
            margin-left: -1em;
            padding: 0;
            table-layout: fixed;
            width: calc(100% + 1em);
        }

            ul.actions.fit li {
                display: table-cell;
                padding: 0 0 0 1em;
            }

                ul.actions.fit li > * {
                    margin-bottom: 0;
                }

            ul.actions.fit.small {
                margin-left: -0.5em;
                width: calc(100% + 0.5em);
            }

                ul.actions.fit.small li {
                    padding: 0 0 0 0.5em;
                }

    ul.menu {
        line-height: 1em;
        list-style: none;
        padding: 0;
    }

        ul.menu li {
            border-left: solid 1px rgba(144, 144, 144, 0.25);
            display: inline-block;
            margin-left: 1em;
            padding-left: 1em;
        }

            ul.menu li:first-child {
                border-left: 0;
                margin-left: 0;
                padding-left: 0;
            }

dl {
    margin: 0 0 2em 0;
}
section.special, article.special {
    text-align: center;
}

header p {
    color: white;
    position: relative;
    margin: 0 0 1.5em 0;
}

header h2 + p {
    font-size: 1.25em;
    margin-top: -1em;
    line-height: 1.75em;
}

header h3 + p {
    font-size: 1.1em;
    margin-top: -0.85em;
    line-height: 1.5em;
}

header h4 + p,
header h5 + p,
header h6 + p {
    font-size: 0.9em;
    margin-top: -0.75em;
    line-height: 1.5em;
}

header .headerorderbutton {
    text-align: center;
    margin-left: 1em;
    border-radius: 4.8px ;
    font-weight: 500;
    /* font-family: 'WT Gothic Semi' !important; */
    color: white !important;
    font-size: 20px;
    border: 0;
}
header.major {
    text-align: center;
}

    header.major h2 {
        font-size: 2.35em;
    }

    header.major p {
        margin: -1em 0 3.5em 0;
    }

	.headerorderbutton {
        width: 178.4px;
        height: 53.6px;
        background: linear-gradient(-135deg, rgb(194, 0, 0) 0%, rgb(236, 151, 29) 100%);
        border-radius: 4.8px;
        font-weight: bold;
        font-size: 20px;
        color: white !important;
        border: 0;
    }
/* Header */

#skel-layers-wrapper {
    padding-top: 3em;
}

body.landing #skel-layers-wrapper {
    padding-top: 0;
}
@-moz-keyframes reveal-header { 0% { top: -5em; } 100% { top: 0; } }
@-webkit-keyframes reveal-header { 0% { top: -5em; } 100% { top: 0; } }
@-o-keyframes reveal-header { 0% { top: -5em; } 100% { top: 0; } }
@-ms-keyframes reveal-header { 0% { top: -5em; } 100% { top: 0; } }
@keyframes reveal-header { 0% { top: -5em; } 100% { top: 0; } }

#header {
    /* background-color: #fff; */
    /* background-image: url("https://raw.githubusercontent.com/emmaoudmaijer/test-chatbot/master/images/hemant-latawa-IfQlwNqJqV8-unsplash.jpg"); */
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    color: inherit;
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    cursor: default;
    /* background-size: cover; */
    height: 3em;
    left: 0;
    line-height: 3em;
    position: fixed;
    top: 0;
    width: 100%;
    /* height: 400px; */
    z-index: 10000;
}
.imagebanner {
    /* background-image: url(https://www.gooischenieuwe.nl/wp-content/uploads/2016/10/Large-pizza1-960x464.jpg); */
    background-image: url("https://raw.githubusercontent.com/emmaoudmaijer/test-chatbot/master/images/hemant-latawa-IfQlwNqJqV8-unsplash.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
}

    #header.reveal {
        -moz-animation: reveal-header 0.5s;
        -webkit-animation: reveal-header 0.5s;
        -o-animation: reveal-header 0.5s;
        -ms-animation: reveal-header 0.5s;
        animation: reveal-header 0.5s;
    }

    #header.alt {
        -moz-animation: none;
        -webkit-animation: none;
        -o-animation: none;
        -ms-animation: none;
        animation: none;
        background-color: transparent;
        box-shadow: none;
        color: #fff;
    }

    #header h1 {
        color: inherit;
        font-size: 1em;
        height: inherit;
        left: 1.25em;
        line-height: inherit;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
    }

        #header h1 span {
            font-weight: 300;
        }

        #header h1 a {
            border: 0;
        }
        header .headerorderbutton {
            text-align: center;
            margin-left: 1em;
            border-radius: 4.8px ;
            font-weight: 500;
            /* font-family: 'WT Gothic Semi' !important; */
            color: white !important;
            font-size: 20px;
            border: 0;
        }

    #header nav {
        height: inherit;
        line-height: inherit;
        position: absolute;
        right: 1.5em;
        top: 0;
        vertical-align: middle;
    }

        #header nav > ul {
            list-style: none;
            margin: 0;
            padding-left: 0;
            /* margin-top: 1em; */
        }

            #header nav > ul > li {
                border-radius: 0.5em;
                display: inline-block;
                margin-left: 2em;
                padding-left: 0;
            }

                #header nav > ul > li a {
                    border: 0;
                    color: inherit;
                    display: inline-block;
                    text-decoration: none;
                }

                    #header nav > ul > li a.icon:before {
                        margin-right: 0.5em;
                    }

                #header nav > ul > li:first-child {
                    margin-left: 0;
                }

                #header nav > ul > li .button {
                    height: 2.25em;
                    line-height: 2.25em;
                    margin-bottom: 0;
                    padding: 0 1em;
                    position: relative;
                    top: -0.075em;
                    vertical-align: middle;
                }

                #header nav > ul > li > ul {
                    display: none;
                }

    #header .container {
        position: relative;
    }

        #header .container h1 {
            left: 0;
        }

        #header .container nav {
            right: 0;
        }

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  
  input[type=text] {
    width: 98%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .btn {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  
  span.price {
    float: right;
    color: grey;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
  @media (max-width: 800px) {
    .row {
     padding:0 !important;
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
    header .headerorderbutton {
        display: none;
    }
    .splash3 {
margin: auto;
    }
    article p {
        display: inline-block;
        width: 90%;
        padding:1em;
        font-size: 16px;;
        margin-left: -1em;
     }
    .footerpicture {
         display: none  !important;
     }
    section {
        display: block;
        padding-left: 3em;
        text-align: center;
    }
    footer {
        padding:2em;
    }

     footer p {
        padding:0;
    }
    footer article {
        /* margin-left: 20em; */
        /* padding-left: 10em; */
        text-align: center;
    }
  }

  li img {
    margin-bottom: -1.4em;
    padding-top: 0.8em;
    height: 70px;
  }

/* FOOTER */
	.footerpicture {
			margin-left: -10em !important;
			background-size: cover;
			width: 400px;
			height: 400px;
			margin-right: 15em;
			background-image: url('https://images.unsplash.com/photo-1563405614298-56f55a71e7ec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80');
		}

		
	footer {
		margin-top: 3em;
		padding-top: 4em;
		padding-bottom: 4em;
		background-color: #ece9e9;
		width: 100%;
	}

	
	.splash3 {
		background-image: url("https://raw.githubusercontent.com/emmaoudmaijer/test-chatbot/6e5510c0f0ffc8200f9edfcddc7b8ed32a0af98d/images/Coal-3.svg");
		background-repeat: no-repeat ;
		width: 23em;
		text-align: center;
		z-index: 10;
		padding:0.8em;
		padding-bottom: 0.5em;
	}
	.splash3  h3{
		color: white;
		font-size: 47px;
		margin-right:2em;
		margin-top: 0;
		margin-top: 0.5em;
	}

	section {
		/* padding: 0em 2em 2em 2em; */
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
	}