
	body {
		background: #fff;
	}

		body.is-loading * {
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-o-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-o-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
		}

	body, input, select, textarea {
		color: #646464;
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
		font-size: 15pt;
		font-weight: 300;
		line-height: 1.75em;
	}

	a {
		-moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
		-webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
		-o-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
		-ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
		transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
		color: #e0555a;
		text-decoration: none;
		border-bottom: dotted 1px;
	}

		a:hover {
			text-decoration: none;
			color: #da0000 !important;
			border-bottom-color: transparent;
		}

	strong, b {
		color: #545454;
		font-weight: 700;
	}

	em, i {
		font-style: italic;
	}


	h1, h2, h3, h4, h5, h6 {
		color: #545454;
		font-weight: 700;
		line-height: 1em;
		margin: 0 0 1em 1em;
		letter-spacing: -0.01em;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			text-decoration: none;
			font-family: WTGothic-Semi-Bold;
		}

	h2 {
		font-size: 1.75em;
		line-height: 1.5em;
	}

	h3 {
		font-size: 1.25em;
		line-height: 1.5em;
	}
	.titel {
		color: white;
	}
	sub {
		font-size: 0.8em;
		position: relative;
		top: 0.5em;
	}

	sup {
		font-size: 0.8em;
		position: relative;
		top: -0.5em;
	}

	hr {
		border: 0;
		border-bottom: solid 1px rgba(144, 144, 144, 0.25);
		margin: 2em 0;
	}

		hr.major {
			margin: 3em 0;
		}

	blockquote {
		border-left: solid 4px rgba(144, 144, 144, 0.25);
		font-style: italic;
		margin: 0 0 2em 0;
		padding: 0.5em 0 0.5em 2em;
	}

	code {
		background: rgba(144, 144, 144, 0.075);
		border-radius: 0.5em;
		border: solid 1px rgba(144, 144, 144, 0.25);
		font-family: "Courier New", monospace;
		font-size: 0.9em;
		margin: 0 0.25em;
		padding: 0.25em 0.65em;
	}

	pre {
		-webkit-overflow-scrolling: touch;
		font-family: "Courier New", monospace;
		font-size: 0.9em;
		margin: 0 0 2em 0;
	}

		pre code {
			display: block;
			line-height: 1.75em;
			padding: 1em 1.5em;
			overflow-x: auto;
		}

	.align-left {
		text-align: left;
	}

	.align-center {
		text-align: center;
	}

	.align-right {
		text-align: right;
	}

/* Section/Article */

	section.special, article.special {
		text-align: center;
	}

	header p {
		color: white;
		position: relative;
		margin: 0 0 1.5em 0;
	}

	header h2 + p {
		font-size: 1.25em;
		margin-top: -1em;
		line-height: 1.75em;
	}

	header h3 + p {
		font-size: 1.1em;
		margin-top: -0.85em;
		line-height: 1.5em;
	}

	header h4 + p,
	header h5 + p,
	header h6 + p {
		font-size: 0.9em;
		margin-top: -0.75em;
		line-height: 1.5em;
	}

	header .headerorderbutton {
		text-align: center;
		margin-left: 1em;
		border-radius: 4.8px ;
		color: white !important;
	}
	header.major {
		text-align: center;
	}

		header.major h2 {
			font-size: 2.35em;
		}

		header.major p {
			margin: -1em 0 3.5em 0;
		}

/* Box */

	.box {
		border-radius: 0.5em;
		border: solid 1px rgba(144, 144, 144, 0.25);
		margin-bottom: 2em;
		padding: 2em;
		text-align: center;
		background-image: url('../images/pizza.jpg');
	}

		.box > :last-child,
		.box > :last-child > :last-child,
		.box > :last-child > :last-child > :last-child {
			margin-bottom: 0;
		}

		.box.alt {
			border: 0;
			border-radius: 0;
			padding: 0;
		}

		.box.post {
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			background-image: url('../images/pizza.jpg');
		}

			.box.post .image:first-child {
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
				margin: -2em 0 2em -2em;
				width: calc(100% + 4em);
				align-self: center;
			}

				.box.post .image:first-child img {
					border-bottom-left-radius: 0;
					border-bottom-right-radius: 0;
					align-self: center;
				}

/* List */

	ol {
		list-style: decimal;
		margin: 0 0 2em 0;
		padding-left: 1.25em;
	}

		ol li {
			padding-left: 0.25em;
		}

	ul {
		list-style: disc;
		margin: 0 0 2em 0;
		padding-left: 1em;
	}

		ul li {
			padding-left: 0.5em;
		}

		ul.alt {
			list-style: none;
			padding-left: 0;
		}

			ul.alt li {
				border-top: solid 1px rgba(144, 144, 144, 0.25);
				padding: 0.5em 0;
			}

				ul.alt li:first-child {
					border-top: 0;
					padding-top: 0;
				}

		ul.icons {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			ul.icons li {
				display: inline-block;
				padding: 0 1.25em 0 0;
			}

				ul.icons li:last-child {
					padding-right: 0 !important;
				}

				ul.icons li .icon {
					border-radius: 0.5em;
					border: solid 1px rgba(144, 144, 144, 0.25);
					color: #949494 !important;
					display: inline-block;
					font-size: 1.25em;
					height: 2.75em;
					line-height: 2.75em;
					text-align: center;
					width: 2.75em;
				}

				ul.icons li a.icon {
					-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
					-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
					-o-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
					-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
					transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
				}

					ul.icons li a.icon:hover {
						background-color: rgba(144, 144, 144, 0.075);
					}

					ul.icons li a.icon:active {
						background-color: rgba(144, 144, 144, 0.2);
					}

		ul.actions {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			ul.actions li {
				display: inline-block;
				padding: 0 1em 0 0;
				vertical-align: middle;
			}

				ul.actions li:last-child {
					padding-right: 0;
				}

			ul.actions.small li {
				padding: 0 0.5em 0 0;
			}

			ul.actions.vertical li {
				display: block;
				padding: 1em 0 0 0;
			}

				ul.actions.vertical li:first-child {
					padding-top: 0;
				}

				ul.actions.vertical li > * {
					margin-bottom: 0;
				}

			ul.actions.vertical.small li {
				padding: 0.5em 0 0 0;
			}

				ul.actions.vertical.small li:first-child {
					padding-top: 0;
				}

			ul.actions.fit {
				display: table;
				margin-left: -1em;
				padding: 0;
				table-layout: fixed;
				width: calc(100% + 1em);
			}

				ul.actions.fit li {
					display: table-cell;
					padding: 0 0 0 1em;
				}

					ul.actions.fit li > * {
						margin-bottom: 0;
					}

				ul.actions.fit.small {
					margin-left: -0.5em;
					width: calc(100% + 0.5em);
				}

					ul.actions.fit.small li {
						padding: 0 0 0 0.5em;
					}

		ul.menu {
			line-height: 1em;
			list-style: none;
			padding: 0;
		}

			ul.menu li {
				border-left: solid 1px rgba(144, 144, 144, 0.25);
				display: inline-block;
				margin-left: 1em;
				padding-left: 1em;
			}

				ul.menu li:first-child {
					border-left: 0;
					margin-left: 0;
					padding-left: 0;
				}

	dl {
		margin: 0 0 2em 0;
	}
	
/* Feature */

	.feature {
		text-decoration: none;
		padding-left: 6.5em;
		position: relative;
		text-align: left;
	}

		.feature:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.feature:before {
			border-radius: 0.5em;
			border: solid 1px rgba(144, 144, 144, 0.25);
			color: #e0555a;
			display: inline-block;
			font-size: 2.25em;
			height: 2em;
			left: 0;
			line-height: 2em;
			position: absolute;
			text-align: center;
			top: 0;
			width: 2em;
		}

		.feature h3 {
			margin: 0 0 0.7em 0;
		}

/* Wrapper */

	.wrapper {
		padding: 5em 0 3em 0;
	}

		.wrapper.style1 {
			background: white;
		}

			.wrapper.style1 .box {
				background: #ffffff;
				border: 0;
			}

		.wrapper.style2 {
			background: #ffffff;
		}

		.wrapper.style3 {
			background: #e0555a;
			color: #d1f2f5;
		}

			.wrapper.style3 h1, .wrapper.style3 h2, .wrapper.style3 h3, .wrapper.style3 h4, .wrapper.style3 h5, .wrapper.style3 h6 {
				color: #ffffff;
			}

			.wrapper.style3 header p {
				color: #b5ebef;
			}

			.wrapper.style3 .button {
				border-color: white !important;
				color: #ffffff !important;
			}

				.wrapper.style3 .button:hover {
					background-color: rgba(255, 255, 255, 0.075);
				}

				.wrapper.style3 .button:active {
					background-color: rgba(255, 255, 255, 0.2);
				}

/* Header */

	#skel-layers-wrapper {
		padding-top: 3em;
	}

	body.landing #skel-layers-wrapper {
		padding-top: 0;
	}
	@-moz-keyframes reveal-header { 0% { top: -5em; } 100% { top: 0; } }
	@-webkit-keyframes reveal-header { 0% { top: -5em; } 100% { top: 0; } }
	@-o-keyframes reveal-header { 0% { top: -5em; } 100% { top: 0; } }
	@-ms-keyframes reveal-header { 0% { top: -5em; } 100% { top: 0; } }
	@keyframes reveal-header { 0% { top: -5em; } 100% { top: 0; } }

	#header {
		/* background-color: #fff; */
		background-image: url(/images/pizza.png);
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
		color: inherit;
		cursor: default;
		height: 3em;
		left: 0;
		line-height: 3em;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 10000;
	}

		#header.reveal {
			-moz-animation: reveal-header 0.5s;
			-webkit-animation: reveal-header 0.5s;
			-o-animation: reveal-header 0.5s;
			-ms-animation: reveal-header 0.5s;
			animation: reveal-header 0.5s;
		}

		#header.alt {
			-moz-animation: none;
			-webkit-animation: none;
			-o-animation: none;
			-ms-animation: none;
			animation: none;
			background-color: transparent;
			box-shadow: none;
			color: #fff;
		}

		#header h1 {
			color: inherit;
			font-size: 1em;
			height: inherit;
			left: 1.25em;
			line-height: inherit;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 0;
		}

			#header h1 span {
				font-weight: 300;
			}

			#header h1 a {
				border: 0;
			}

		#header nav {
			height: inherit;
			line-height: inherit;
			position: absolute;
			right: 1.5em;
			top: 0;
			vertical-align: middle;
		}

			#header nav > ul {
				list-style: none;
				margin: 0;
				padding-left: 0;
			}

				#header nav > ul > li {
					border-radius: 0.5em;
					display: inline-block;
					margin-left: 2em;
					padding-left: 0;
				}

					#header nav > ul > li a {
						border: 0;
						color: inherit;
						display: inline-block;
						text-decoration: none;
					}

						#header nav > ul > li a.icon:before {
							margin-right: 0.5em;
						}

					#header nav > ul > li:first-child {
						margin-left: 0;
					}

					#header nav > ul > li .button {
						height: 2.25em;
						line-height: 2.25em;
						margin-bottom: 0;
						padding: 0 1em;
						position: relative;
						top: -0.075em;
						vertical-align: middle;
					}

					#header nav > ul > li > ul {
						display: none;
					}

		#header .container {
			position: relative;
		}

			#header .container h1 {
				left: 0;
			}

			#header .container nav {
				right: 0;
			}

	.dropotron {
		background: #fff;
		border-radius: 0.5em;
		box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.05);
		list-style: none;
		margin-top: -0.75em;
		min-width: 10em;
		padding: 0.75em 0;
	}

		.dropotron li {
			padding: 0;
		}

			.dropotron li a {
				-moz-transition: none !important;
				-webkit-transition: none !important;
				-o-transition: none !important;
				-ms-transition: none !important;
				transition: none !important;
				border: 0;
				box-shadow: inset 0 1px 0 0 rgba(144, 144, 144, 0.2);
				color: inherit;
				display: block;
				line-height: 2.25em;
				padding: 0 1em;
			}

			.dropotron li:first-child > a {
				box-shadow: none;
			}

			.dropotron li.active > a, .dropotron li:hover > a {
				background: #e0555a;
				color: #ffffff !important;
			}

		.dropotron.level-0 {
			font-size: 0.9em;
			margin-top: 1em;
		}

			.dropotron.level-0:before {
				-moz-transform: rotate(45deg);
				-webkit-transform: rotate(45deg);
				-o-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
				background: #fff;
				content: '';
				display: block;
				height: 0.75em;
				position: absolute;
				right: 1.5em;
				top: -0.375em;
				width: 0.75em;
				box-shadow: inset 1px 1px 0 0 rgba(0, 0, 0, 0.075);
				box-shadow: -1px -1px 2px 0 rgba(0, 0, 0, 0.05);
			}

/* Banner */

	#banner {
		background-attachment: scroll,						fixed;
		background-color: black;
		background-image: url("https://images.unsplash.com/photo-1579751626657-72bc17010498?ixlib=rb-1.2.1&auto=format&fit=crop&w=749&q=80");
		background-position: top left,					center center;
		background-repeat: no-repeat,						no-repeat;
		background-size: cover;
		color: darkslategrey;
		padding: 16em 0;
		position: relative;
		text-align: center;
	}

		#banner:after {
			-moz-transition: opacity 2s ease-in-out;
			-webkit-transition: opacity 2s ease-in-out;
			-o-transition: opacity 2s ease-in-out;
			-ms-transition: opacity 2s ease-in-out;
			transition: opacity 2s ease-in-out;
			background: #3d4045;
			content: '';
			height: 100%;
			left: 0;
			opacity: 0;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 1;
		}

		#banner :last-child {
			margin-bottom: 0;
		}

		#banner h1, #banner h2, #banner h3, #banner h4, #banner h5, #banner h6 {
			color: black;
		}

		#banner .inner {
			position: relative;
			z-index: 2;
		}

		#banner .headerorderbutton {
			padding: 1em 2em 1em 2em;
			width: 178.4px;
			height: 53.6px;
			background: linear-gradient(-135deg, rgb(194, 0, 0) 0%, rgb(236, 151, 29) 100%);
			border-radius: 4.8px;
			color: white !important;
	
		}

			#banner .button:hover {
				background-color: rgba(255, 255, 255, 0.075);
			}

			#banner .button:active {
				background-color: rgba(255, 255, 255, 0.2);
			}

		#banner h2 {
			font-size: 3.25em;
			line-height: 1.25em;
			margin: 0 0 0.5em 0;
			padding: 0;
			color: white;
		}

		#banner p {
			font-size: 1.5em;
			margin-bottom: 1.75em;
			color: white;
		}

	body.is-loading #banner:after {
		opacity: 1.0;
	}

/* One */

	#one {
		padding-bottom: 0;
	}

		#one .slider .viewer {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			border-bottom: 0;
		}

		#one .slider .slide img {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}

/* Main */

	#main > .container {
		position: relative;
		background: #ffffff;
		border-radius: 0.5em;
		margin-bottom: 2em;
		padding: 3em;
	}

		#main > .container > :last-child,
		#main > .container > :last-child > :last-child,
		#main > .container > :last-child > :last-child > :last-child {
			margin-bottom: 0;
		}

/* CTA */

	/* #cta {
		padding: 4em 0;
		text-align: center;
		vertical-align: middle;
	}

		#cta h2 {
			display: inline-block;
			margin: 0 1em 0 0;
			vertical-align: middle;
		}

		#cta .actions {
			display: inline-block;
			margin: 0;
		} */

		table {
			padding-right: 10em;
		}
		.title {
			border-bottom: 1px solid #da0000
		}
		.price {
			padding-left: 5em;
			border-bottom: 1px solid #da0000;
		}
		tr {
			border-bottom: 1px solid #da0000;
		}
		.headerorderbutton {
			width: 178.4px;
			height: 53.6px;
			background: linear-gradient(-135deg, rgb(194, 0, 0) 0%, rgb(236, 151, 29) 100%);
			border-radius: 4.8px;
			color: white !important;
		}

		.wpb_wrapper {
			display: flex;
			flex-wrap: nowrap;
			justify-content: center;
			padding-bottom: 1em !important;
		}

	.imagebanner {
		background-image: url(https://www.gooischenieuwe.nl/wp-content/uploads/2016/10/Large-pizza1-960x464.jpg);
		width: 100%;
		height: 400px;;
	}

	section {
		/* padding:0em 2em 2em 2em; */
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
	}
	.text2{
		padding-right: 10em;
	}
	.footerpicture {
		margin-left: -10em !important;
		background-size: cover;
		width: 450px;
		height: 450px;
		margin-right: 15em;
		background-image: url('https://images.unsplash.com/photo-1563405614298-56f55a71e7ec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80');
	}
	.description {
		color: rgb(0, 0, 0);
		font-size: 16px;
		/* font-family: WTGothic-Light; */
		font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
		font-weight: 300;
	}

	.title, .price {
		color: rgb(0, 0, 0);
		font-size: 21px;
		/* font-family: WTGothic-Medium; */
		font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
		font-weight: 500;
	}
	footer {
		padding-top: 2em;
	}

	.menupizza {
		color:white;
		/* height: 4em;  */
		padding-top: 0.2em;
		padding-right: 2em;
		font-size: 50px;
		z-index: 10;
	}
	.splash {
		background-image: url("https://raw.githubusercontent.com/emmaoudmaijer/test-chatbot/555154bec71cb97391288e3a2f5eb5b968dd8c45/images/Coal-1.svg");
		background-repeat: no-repeat ;
		width: 23em;
		text-align: center;
		z-index: 10;
		padding:0.8em;
	}